<aside class="col-span-1 sidebar">
    <div class="bg-white p-6 rounded-lg shadow-md mb-8">
        <h3 class="text-xl font-bold text-gray-800 mb-4">热门文章</h3>
        <ul>
            {% for post in site.posts limit:10 %}
            <li class="mb-2"><a href="{{ post.url | relative_url }}" class="text-gray-700 hover:text-blue-500">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="bg-white p-6 rounded-lg shadow-md">
        <h3 class="text-xl font-bold text-gray-800 mb-4">分类标签</h3>
        <div class="flex flex-wrap gap-2">
            {% for category in site.categories %}
            <a href="{{ site.baseurl }}/categories/{{ category[0] | slugify }}.md"
                class="bg-gray-200 text-gray-700 text-sm py-1 px-3 rounded-full hover:bg-blue-500 hover:text-white transition-colors duration-300">{{ category[0] }}</a>
            {% endfor %}
        </div>
    </div>
</aside>
